* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ff6f36;
}

main {
  margin: 1rem;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  display: block;
  border: 2px solid black;
}

h2 {
  font-family: "akzidenzgroteskregularblack", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12rem;
  text-shadow: 3px 3px black;
  letter-spacing: -2px;
  text-align: center;
  color: white;
}

h3 {
  font-family: "akzidenzgroteskregularblack", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: -2px;
  color: black;
  text-transform: lowercase;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.6;
  border-bottom: 2px solid black;
  max-width: 75ch;
  text-align: justify;
}

/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  line-height: 1.6;
  word-spacing: -6px;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
}

/* FOOTER */
footer {
  height: 1rem;
  width: 100%;
  position: sticky;
  top: 100vh;
  text-align: center;
  margin: 2rem 0rem 1rem 0rem;
}

footer p {
  border-bottom: none;
  font-size: 0.8rem;
  max-width: none;
  text-align: center;
}

/* LOGO CONTAINER */

.logo_container h1 {
  font-family: "akzidenzgroteskregularblack", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3.5rem;
  letter-spacing: -4px;
  color: black;
  text-align: center;
  border-bottom: 2px solid black;
  text-transform: lowercase;
}
