/* FONT and TEXT */
@font-face {
  font-family: "akzidenzgroteskregularblack";
  src: url("akzidenz-grotesk/akzidenz-grotesk-black-webfont.woff2") format("woff2"), url("akzidenz-grotesk/akzidenz-grotesk-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "akzidenzgroteskregularlight";
  src: url("akzidenz-grotesk/akzidenz-grotesk-light-webfont.woff2") format("woff2"), url("akzidenz-grotesk/akzidenz-grotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a:hover {
  cursor: pointer;
  filter: brightness(1.2);
  opacity: 0.95;
}

/* INDEX */
.genveje {
  margin-top: 2rem;
}

#index_body {
  animation: fade_background_kf 1s;
  animation-iteration-count: 1;
}
@keyframes fade_background_kf {
  0% {
    background-color: white;
    color: white;
  }
  40% {
    background-color: white;
  }

  100% {
    background-color: #ff6f36;
    color: black;
  }
}

/* PORTFOLIO LAYOUT */
.portfolio_tema_02_container_top {
  background-image: url("images/tema_02_screendump_bw.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
}

.portfolio_tema_03_container_top {
  background-image: url("images/tema_03_screendump_bw.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
}

.portfolio_tema_04_container_top {
  background-image: url("images/tema_04_screendump_bw.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
}

.portfolio_tema_05_container_top {
  background-image: url("images/tema_05_screendump_bw.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
}

.portfolio_tema_06_container_top {
  background-image: url("images/tema_06_screendump_bw.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
}

/* PORTFOLIO GRID */

@media (min-width: 750px) {
  .portfolio_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }
}
@media (max-width: 750px) {
  .portfolio_tema_container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* CV LAYOUT */
.grid_om_mig {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.cv_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cv_topic {
  grid-column: 1 / 3;
}

.grid_cv {
  place-items: start stretch;
}

/* CV GRID */

@media (min-width: 950px) {
  .grid_cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: 950px) {
  .grid_om_mig {
    margin-top: 2rem;
  }
}

/* TEMA SIDER */

/* TEMA ## LAYOUT */

@media (min-width: 950px) {
  .tema_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }
}

@media (max-width: 950px) {
  .tema_container {
    margin-bottom: 1rem;
  }
}

/* ANIMATION */
.slide_right {
  animation-name: slide_right_kf;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes slide_right_kf {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slide_left {
  animation-name: slide_left_kf;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes slide_left_kf {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
